.searchInput {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border: 3px solid #FADB69;
    margin-bottom: 75px;
    width: 400px;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.navbar {
    background-color: navy;

}


.container {
    height: 200px;
    width: 50%;
    background-color: navy;
}

body {
    background-color: navy;
    color: white;
    padding: 40px;
    font-family: 'Rubik', Sans-Serif;
    text-align: center;
}

.custom-table {

    font-family: 'Rubik', sans-serif;

}

.table-variants {
    background-color: black;
}

.Description {
    padding-inline: 20%;
    font-family: 'Rubik', sans-serif;

}

.answer {
    font-family: 'Rubik', sans-serif;

}

/* .info{
font-size: bold;
} */