.searchInput{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 3px solid  #FADB69;
    margin-bottom: 75px;
    width: 400px;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.navbar{
    background-color: navy;

}


.container{
    height: 200px;
  width: 50%;
  background-color: powderblue;
}

body {
    background-color: navy;
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }
  .custom-table {
    
    font-family: 'Times New Roman', Times, serif;
}
.table-variants{
   background-color: black;   
}

.Description {
    padding-inline: 20%

    ;
    font-family: 'Times New Roman', Times, serif;
   
}
.answer{
    font-family: 'Times New Roman', Times, serif;
}